body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.95);
    z-index: 9999;
}

.loader-video {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}